<div class="component">
  <div class="header">
    <!-- Descomentad esta línea para usar la imágen de prueba -->
		<!-- <img class="user-icon"
		  src="https://www.stickpng.com/assets/images/585e4beacb11b227491c3399.png"> -->
    <img class="user-icon"
			src="https://www.stickpng.com/assets/images/585e4beacb11b227491c3399.png">
    <h2>{{ componentData.controls.title.value }}</h2>
  </div>
  <div class="body">
    <p class="center-text">{{ componentData.controls.body.value }}</p>
  </div>
  <mat-divider class="footer-divider"></mat-divider>
  <div class="footer">
    <small class="right-text">{{ componentData.controls.footer.value }}</small>
  </div>
</div>
